.blockquote-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: auto;
}

.blockquote-wrapper > div {
  padding-bottom: 20px;
}

.blockquote-wrapper > div:nth-child(1) {
  padding-top: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.blockquote-wrapper > div:nth-child(2) {
  padding-top: 40px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.quote {
  background-image: url(../../static/quote.svg);
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: bold;
}